body {
  max-width: 800px; }

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

@font-face {
  font-family: 'Sans_PT';
  src: url("../fonts/PT_Sans-Web-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Sans_PT';
  src: url("../fonts/PT_Sans-Web-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Kelson';
  src: url("../fonts/Kelson Sans Bold BG.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

.chrome {
  background-image: url(../img/sprite-06933996582495301.png);
  background-position: 0px 0px;
  width: 64px;
  height: 64px; }

.github-logo {
  background-image: url(../img/sprite-06933996582495301.png);
  background-position: -68px 0px;
  width: 64px;
  height: 64px; }

.placeholder {
  background-image: url(../img/sprite-06933996582495301.png);
  background-position: 0px -68px;
  width: 64px;
  height: 64px; }

@-ms-viewport {
  width: device-width; }

.page {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%;
  min-width: 320px;
  min-height: 100%; }
  .page__inner {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .page__content {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .page__footer-wrapper {
    -ms-flex-negative: 0;
        flex-shrink: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  background-color: #fff;
  margin: 0;
  min-height: 100%;
  font-family: -apple-system, Sans_PT, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #000; }

[tabindex='-1']:focus {
  outline: none !important; }

[role='button'] {
  cursor: pointer; }

input[type='search'] {
  -webkit-appearance: textfield; }

a,
button,
[role='button'],
input,
label,
select,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation; }

a svg,
button svg {
  pointer-events: none; }

img {
  max-width: 100%;
  height: auto; }

.header {
  min-height: 500px;
  background-image: url("../img/bg--header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .header__logo {
    width: 240px;
    height: 74px;
    margin: 0;
    padding: 0; }
  .header__wrapper {
    min-width: 280px;
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 196px;
    padding-left: 20px;
    padding-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__subtitle {
    margin: 0;
    padding: 0;
    padding-top: 35px;
    font-size: 14px;
    line-height: 1.43;
    color: #fff;
    font-weight: 400;
    text-align: center; }

.rooms {
  padding: 55px 20px 50px; }
  .rooms__title {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: -apple-system, Kelson, sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 8px; }
    .rooms__title::after {
      content: '';
      position: absolute;
      left: 50%;
      margin-left: -40px;
      bottom: 0;
      width: 80px;
      height: 2px;
      background-color: #EE0000; }
  .rooms__subtitle {
    margin: 0;
    padding: 0;
    min-width: 280px;
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    text-align: center; }
  .rooms__list {
    margin: 0;
    padding: 0;
    list-style: none; }
  .rooms__item {
    padding-top: 45px;
    padding-left: 20px;
    padding-right: 20px; }
  .rooms .room {
    min-width: 280px;
    max-width: 560px;
    margin-left: auto;
    margin-right: auto; }
    .rooms .room__title {
      font-family: -apple-system, Kelson, sans-serif;
      position: relative;
      margin: 0;
      padding-bottom: 17px;
      margin-bottom: 28px;
      font-size: 20px;
      text-transform: uppercase;
      text-align: center; }
      .rooms .room__title::after {
        content: '';
        position: absolute;
        left: 50%;
        margin-left: -40px;
        bottom: 0;
        width: 80px;
        height: 2px;
        background-color: #EE0000; }
      .rooms .room__title--lux::after {
        width: 30px;
        margin-left: -15px; }
    .rooms .room__pic {
      display: block;
      margin-left: auto;
      margin-right: auto; }
    .rooms .room__subtitle {
      display: block;
      margin: 0;
      min-width: 180px;
      max-width: 197px;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      font-size: 13px;
      text-align: center; }

.restaurant {
  min-height: 600px;
  padding-top: 160px;
  background-image: url("../img/bg--restaurant.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff; }
  .restaurant__title {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: -apple-system, Kelson, sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 4px; }
    .restaurant__title::after {
      content: '';
      position: absolute;
      left: 50%;
      margin-left: -39px;
      bottom: 0;
      width: 80px;
      height: 2px;
      background-color: #EE0000; }
  .restaurant__subtilte {
    display: block;
    margin: 0;
    min-width: 280px;
    max-width: 560px;
    margin-top: 37px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 20px;
    font-size: 13px;
    line-height: 1.55;
    text-align: center; }

.rests {
  padding: 65px 20px 50px;
  background-image: url("../img/bg--rest.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .rests__title {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: -apple-system, Kelson, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 5px; }
    .rests__title::after {
      content: '';
      position: absolute;
      left: 50%;
      margin-left: -39px;
      bottom: 0;
      width: 80px;
      height: 2px;
      background-color: #EE0000; }
  .rests__subtitle {
    margin: 0;
    padding: 0;
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 30px;
    text-align: center; }
  .rests__list {
    margin: 0;
    padding: 0;
    list-style: none; }
  .rests__item {
    max-width: 530px;
    min-height: 240px;
    margin-bottom: 95px;
    position: relative; }
  .rests .rest__pic {
    width: auto;
    max-height: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block; }
  .rests .rest__wrapper {
    width: 50%;
    min-width: 240px;
    max-width: 470px;
    height: 150px;
    padding: 16px 10px 15px;
    margin: auto;
    margin-bottom: 75px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -50%;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9); }
  .rests .rest__title {
    position: relative;
    margin: 0;
    padding-bottom: 12px;
    font-size: 15px;
    text-align: center; }
    .rests .rest__title::after {
      content: '';
      position: absolute;
      left: 50%;
      margin-left: -29px;
      bottom: 0;
      width: 60px;
      height: 2px;
      background-color: #EE0000; }
  .rests .rest__lead {
    margin: 0;
    padding-top: 12px;
    font-size: 12px;
    text-align: center; }

.footer {
  min-height: 125px;
  background-color: #000;
  padding-top: 20px;
  padding-bottom: 20px; }

@media (min-width: 800px) {
    .header {
      background-image: url("../img/bg--header-mid.png"); }
      .header__logo {
        width: 321px;
        height: 97px; }
      .header__wrapper {
        padding-top: 162px;
        padding-left: 16px; }
      .header__subtitle {
        padding-top: 45px; }
    .rooms {
      padding-top: 67px; }
      .rooms__title {
        padding-bottom: 6px; }
      .rooms__item {
        padding-top: 75px; }
        .rooms .room__title {
          font-size: 25px;
          padding-bottom: 7px; }
        .rooms .room__pic {
          width: 500px; }
        .rooms .room__subtitle {
          min-width: 280px;
          max-width: 340px;
          margin-top: 30px; }
    .restaurant {
      background-image: url("../img/bg--restaurant-mid.png");
      min-height: 499px;
      padding-top: 126px; }
    .rests {
      padding-top: 80px; }
      .rests__title {
        font-size: 33px;
        padding-left: 18px;
        padding-bottom: 4px; }
        .rests__title::after {
          margin-left: -30px; }
      .rests__list {
        padding-left: 40px;
        padding-top: 18px; }
      .rests__item {
        margin-left: auto;
        margin-right: auto; } }

/*# sourceMappingURL=style.css.map */
