mixin restaurant()
  section.restaurant
    h2.restaurant__title Ресторан
    p.restaurant__subtilte Когда вкусная еда совмещается с роскошным интерьером и качественным обслуживанием — получается ресторан, в который хочется возвращаться снова. ресторан, в который хочется возвращаться снова.
