// В этом файле должны быть стили для БЭМ-блока restaurant, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.restaurant {
  min-height: 600px;
  padding-top: 160px;
  background-image: url('../img/bg--restaurant.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;

  @media (min-width: $screen-md) {
    background-image: url('../img/bg--restaurant-mid.png');
    min-height: 499px;
    padding-top: 126px;
  }

  $block-name:                &; // #{$block-name}__element

  &__title {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: $font-family--header;
    font-size: $font-size--l;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 4px;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      margin-left: -39px;
      bottom: 0;
      width: 80px;
      height: 2px;
      background-color: $main-color;
    }
  }

  &__subtilte {
    display: block;
    margin: 0;
    min-width: 280px;
    max-width: 560px;
    margin-top: 37px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 20px;
    font-size: $font-size--s;
    line-height: 1.55;
    text-align: center;
  }
}
