// В этом файле должны быть стили для БЭМ-блока restaurant, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.restaurant {
  min-height: 600px;
  padding-top: 160px;
  background-image: url('../img/bg--restaurant.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;

  @media (min-width: $screen-md) {
    background-image: url('../img/bg--restaurant-mid.png');
    min-height: 499px;
    padding-top: 117px;
  }

  @media (min-width: $screen-lg) {
    background-image: url('../img/bg--restaurant-lg.png');
    min-height: 700px;
    padding-top: 200px;
  }

  $block-name:                &; // #{$block-name}__element

  &__title {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: $font-family--header;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 1px;

    @media (min-width: $screen-md) {
      font-size: 35px;
      padding-bottom: 4px;
    }

    @media (min-width: $screen-lg) {
      font-size: 49px;
      line-height: 0.8;
      padding-bottom: 13px;
    }

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      margin-left: -40px;
      bottom: 0;
      width: 80px;
      height: 2px;
      background-color: $main-color;
    }
  }

  &__subtilte {
    display: block;
    margin: 0;
    min-width: 280px;
    max-width: 560px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 20px;
    font-size: $font-size--s;
    line-height: 1.55;
    text-align: center;
    font-weight: 400;

    @media (min-width: $screen-md) {
      margin-top: 34px;
      font-size: 15px;
      line-height: 1.7;
    }

    @media (min-width: $screen-lg) {
      max-width: none;
      margin-top: 34px;
      font-size: 18px;
      line-height: 1.7;
      margin-left: 23%;
      margin-right: 23%;
    }
  }
}
