mixin restaurant()
  section.restaurant
    h2.restaurant__title Ресторан
    p.restaurant__subtilte Когда вкусная еда встречается с элегантным интерьером и качественным обслуживанием, получается место, в которое хочется возвращаться. Ресторан с барной зоной и террасой — то, что нужно.
