mixin rests()
  section.rests
    h2.rests__title Активный отдых
    p.rests__subtitle Добро пожаловать в комфортабельное шале на берегу холодного горного озера. Вас ждет нетронутый уголок природы, чистейший воздух и незабываемый вид на вершины алтайских гор.
    ul.rests__list
      li.rests__item.rests__item--first
        div.rest__wrapper
          h3.rest__title СПЛАВ НА БАЙДАРКАХ
          p.rest__lead Вас ждет нетронутый уголок природы, чистейший воздух и незабываемый вид на вершины.
      li.rests__item.rests__item--second
        div.rest__wrapper
          h3.rest__title ПЕШИЙ ПОХОД В ГОРЫ
          p.rest__lead Вас ждет нетронутый уголок природы, чистейший воздух и незабываемый вид на вершины.
      li.rests__item.rests__item--third
        div.rest__wrapper
          h3.rest__title ПЕШИЙ ПОХОД В ГОРЫ
          p.rest__lead Вас ждет нетронутый уголок природы, чистейший воздух и незабываемый вид на вершины.
