mixin rests()
  section.rests
    h2.rests__title Активный отдых
    p.rests__subtitle Лучше гор —только горы. К счастью, на них можно не только смотреть: мы продумали пешие походы, сплавы по бурным рекам, катание на собачьих упряжках и другие развлечения, которые вы точно запомните.
    ul.rests__list
      li.rests__item.rests__item--first
        picture
          source(media='(min-width:768px)' srcset='img/rest1.png')
          img.rest__pic(src='img/rest1.png' width='340' height='227')
        div.rest__wrapper
          h3.rest__title СПЛАВ НА БАЙДАРКАХ
          p.rest__lead Вас ждет нетронутый уголок природы, чистейший воздух и незабываемый вид на вершины.
      li.rests__item.rests__item--second
        div.rest__wrapper
          h3.rest__title ПЕШИЙ ПОХОД В ГОРЫ
          p.rest__lead Вас ждет нетронутый уголок природы, чистейший воздух и незабываемый вид на вершины.
      li.rests__item.rests__item--third
        div.rest__wrapper
          h3.rest__title ПЕШИЙ ПОХОД В ГОРЫ
          p.rest__lead Вас ждет нетронутый уголок природы, чистейший воздух и незабываемый вид на вершины.
