mixin rests()
  section.rests
    h2.rests__title АКТИВНЫЙ ОТДЫХ/Развлечения
    ul.rests__list
      li.rests__item.rests__item--mountains
        img.rest__pic
        div.rest__wrapper
          h3.rest__title ПЕШИЙ ПОХОД В ГОРЫ
          p.rest__lead Вас ждет нетронутый уголок природы, чистейший воздух и незабываемый вид на вершины.
      li.rests__item.rests__item--mountains
        img.rest__pic
        div.rest__wrapper
          h3.rest__title ПЕШИЙ ПОХОД В ГОРЫ
          p.rest__lead Вас ждет нетронутый уголок природы, чистейший воздух и незабываемый вид на вершины.
      li.rests__item.rests__item--mountains
        img.rest__pic
        div.rest__wrapper
          h3.rest__title ПЕШИЙ ПОХОД В ГОРЫ
          p.rest__lead Вас ждет нетронутый уголок природы, чистейший воздух и незабываемый вид на вершины.
