mixin rests()
  section.rests
    h2.rests__title Активный отдых
    p.rests__subtitle Лучше гор — только горы. К счастью, на них можно не только смотреть: мы продумали пешие походы, сплавы по бурным рекам, катание на собачьих упряжках и другие развлечения, которые вы точно запомните.
    ul.rests__list
      li.rests__item
        picture
          source(media='(min-width:668px)' srcset='img/splav--lg.png')
          img.rest__pic(src='img/splav.png' width='340' height='227')
        div.rest__wrapper
          h3.rest__title Сплав на плотах
          p.rest__lead Экстремальный отдых на горных реках для тех, кто силен духом. 
      li.rests__item
        picture
          source(media='(min-width:668px)' srcset='img/pohod--md.png')
          img.rest__pic(src='img/pohod.png' width='340' height='227')
        div.rest__wrapper
          h3.rest__title ПЕШИЙ ПОХОД В ГОРЫ
          p.rest__lead Невероятные пейзажи, ужин у костра и впечатления на всю жизнь.
      li.rests__item
        picture
          source(media='(min-width:668px)' srcset='img/fishing--md.png')
          img.rest__pic(src='img/fishing.png' width='340' height='227')
        div.rest__wrapper
          h3.rest__title РЫБАЛКА
          p.rest__lead Настоящее приключение с лодками, рассветами и отличным уловом.
