include ../mixins.pug

doctype html
html(class="no-js  page", lang="ru")

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href="https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,700&amp;subset=cyrillic", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700&amp;subset=cyrillic", rel="stylesheet")

    block meta
      title Title

    block head
      link(rel="stylesheet", href="css/style.css")
      link(rel="shortcut icon", href="/img/favicon.ico", type="image/x-icon")
      script.
        document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

  body
    block header
    block page
    block footer
      script(src="js/script.min.js")
