mixin footer()
  footer.footer
    svg.footer__logo(width="80", height="25")
      use(xlink:href="img/sprite-svg.svg#logo--footer")
    p.footer__reserve Бронирование:
      a.footer__phone(href='tel:+79132107068') +7 913 210 70 68
    p.footer__copy Дизайн и разработка —
      svg.footer__logo(width="60", height="29")
        use(xlink:href="img/sprite-svg.svg#media-bay")
