// В этом файле должны быть стили для БЭМ-блока contacts, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.contacts {
  padding-top: 55px;
  padding-bottom: 95px;

  @media (min-width: $screen-md) {
    font-size: 25px;
    padding-bottom: 118px;
  }

  @media (min-width: $screen-lg) {
    padding-top: 88px;
    padding-bottom: 114px;
  }

  @media (min-width: $screen-xl) {
    padding-bottom: 174px;
  }

  $block-name:                &; // #{$block-name}__element

  &__title {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: -apple-system, Kelson, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 1px;

    @media (min-width: $screen-md) {
      font-size: 25px;
      padding-bottom: 9px
    }

    @media (min-width: $screen-lg) {
      font-size: 38px;
      line-height: 0.8;
      padding-bottom: 13px;
    }

    @media (min-width: $screen-xl) {
      font-size: 35px;
    }

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      margin-left: -20px;
      bottom: 0;
      width: 40px;
      height: 2px;
      background-color: #EE0000;

      @media (min-width: $screen-md) {
        margin-left: -30px;
        width: 60px;
      }
    }
  }

  &__text {
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
    line-height: 1.5;
    text-align: center;

    @media (min-width: $screen-md) {
      margin-top: 26px;
    }

    @media (min-width: $screen-lg) {
      margin-top: 30px;
      font-size: 15px;
      line-height: 1.6;
    }

    p {
      margin: 0;
    }
  }

  &__map {
    position: relative;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    min-height: 210px;
    background-image: url('../img/map.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


    @media (min-width: $screen-md) {
      position: relative;
      width: 680px;
      margin-left: auto;
      margin-right: auto;
      min-height: 322px;
      background-image: url('../img/map--md.png');

      .ymaps-2-1-68-map {
        height: 320px !important;
      }

    /*  &:after {
        content: '';
        position: absolute;
        width: 520px;
        height: 210px;
        bottom: -20px;
        left: -20px;
        border: 2px solid $main-color;
        z-index: -1;

        @media (min-width: $screen-xl) {
          bottom: -30px;
          left: -30px;
        }
      }
      */
    }

    @media (min-width: $screen-lg) {
      margin-top: 47px;
      margin-bottom: 36px;
      background-image: url('../img/map--lg.png');

      &:after {
        width: 530px;
        height: 245px;
        bottom: -30px;
        left: -30px;
      }
    }

    @media (min-width: $screen-xl) {
      width: 760px;
      min-height: 400px;
      margin-top: 47px;
      margin-bottom: 55px;
      background-image: url('../img/map--lg.png');

      .ymaps-2-1-68-map {
        height: 400px !important;
      }

      &:after {
        width: 590px;
        height: 315px;
        bottom: -40px;
        left: -40px;
      }
    }

  }


  &__distance {

    h4 {
      margin: 0;
      font-size: 13px;
      line-height: 1.6;
      font-weight: 400;
      text-align: center;
      padding-bottom: 12px;

      @media (min-width: $screen-md) {
        padding-bottom: 9px;
      }

      @media (min-width: $screen-lg) {
        font-size: 14px;
        padding-bottom: 13px;
      }
    }

    p {
      margin: 0;
      text-align: center;
      font-size: 12px;
      line-height: 2;
      font-style: italic;
      color: #959595;
    }
  }

  &__reserve {
    margin: 0;
    margin-top: 18px;
    font-size: 13px;
    text-align: center;

    a {
      color: #000;
      text-decoration: none;
    }

    @media (min-width: $screen-lg) {
      margin-top: 24px;
      font-size: 15px;
    }
  }

}
