mixin contacts()
  section.contacts
    h2.contacts__title.contacts__title--reserve Бронирование номеров
    div.contacts__reserve-text
      p.contacts__lead Чтобы забронировать любой из номеров, свяжитесь с нашим администратором: он ответит на все вопросы и поможет с выбором. 
      p.contacts__reserve Бронирование номеров:&nbsp;
        a.contacts__phone(href="tel:+79132107068") +7 913 210-70-68
      p.contacts__email E-mail: contact@chaletele.ru
    h2.contacts__title Карта проезда
    div.contacts__text
      p Россия, Республика Алтай, Турочакский район, 
      p  пос. Артыбаш, ул. Телецкая, 68
    div.contacts__map
      script(type='text/javascript' charset='utf-8' async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Abf4f28b09063ebe2cf67bb9b04ee86b47646c4a9e6932c536f25190164580172&amp;width=100%25&amp;height=240&amp;lang=ru_RU&amp;scroll=true")
    div.contacts__distance
      h4 Расстояние до «Шале Телецкое»
      p от аэропорта г. Горно-Алтайск — 160 км
      p от аэропорта г. Барнаул — 450 км
      p от аэропорта г. Новосибирск — 620 км
