mixin contacts()
  section.contacts
    h2.contacts__title Контакты
    div.contacts__text
      p Россия, Республика Алтай, Турочакский район, 
      p  пос. Артыбаш, ул. Телецкая, 68
    div.contacts__map
    div.contacts__distance
      h4 Расстояние до «Шале Телецкое»
      p от аэропорта г. Горно-Алтайск — 160 км
      p от аэропорта г. Барнаул — 450 км
      p от аэропорта г. Новосибирск — 620 км
    p.contacts__reserve Бронирование:
      a.contacts__phone(href="tel:+79132107068") +7 913 210 70 68
