mixin rooms()
  section.rooms
    h2.rooms__title Номера
    p.rooms__subtitle Шале из кедрового массива для семейного отдыха, коттедж для шумной компании или роскошный отдельный номер, чтобы никто не мешал — каждый найдет свое.
    ul.rooms__list
      li.rooms__item.rooms__item.room.room--family
        h3.room__title Шале Семейный
        picture
          source(media='(min-width:668px)' srcset='img/family--md.png')
          img.room__pic(src='img/family.png' width='340' height='227')
        p.room__subtitle Уютный семейный дом из кедра с отдельной спальней.
      li.rooms__item.rooms__item.room--kedr
        h3.room__title Люкс Кедровый
        picture
          source(media='(min-width:668px)' srcset='img/kedr--md.png')
          img.room__pic(src='img/kedr.png' width='340' height='227')
        p.room__subtitle Двухуровневый номер с панорамными окнами и видом на озеро.
      li.rooms__item.rooms__item.room--kedr-half
        h3.room__title Полулюкс Кедровый
        picture
          source(media='(min-width:668px)' srcset='img/kedr-half--md.png')
          img.room__pic.room__pic--sm(src='img/kedr-half.png' width='340' height='227')
        p.room__subtitle Просторный двухкомнатный номер в комфортном коттедже.
      li.rooms__item.rooms__item.room--lux
        h3.room__title.room__title--lux Люкс
        picture
          source(media='(min-width:668px)' srcset='img/lux--md.png')
          img.room__pic(src='img/lux.png' width='340' height='227')
        p.room__subtitle Роскошный двухкомнатный номер с балконом и панорамным окном.
      li.rooms__item.rooms__item.room--std
        h3.room__title.room__title--std Стандарт
        picture
          source(media='(min-width:668px)' srcset='img/standart--md.png')
          img.room__pic(src='img/standart.png' width='340' height='227')
        p.room__subtitle Минималистичный номер с террасой в гостиничном корпусе.
