mixin rooms()
  section.rooms
    h2.rooms__title Номера
    p.rooms__subtitle Добро пожаловать в комфортабельное шале на берегу холодного горного озера. Вас ждет нетронутый уголок природы, чистейший воздух и незабываемый вид на вершины алтайских гор.
    ul.rooms__list
      li.rooms__item.rooms__item.room.room--family
        h3.room__title Шале Семейный
        img.room__pic(src='img/family.jpg' width='300' height='227')
        p.room__subtitle Роскошные номера класса люкс в гостиничном комплексе.
      li.rooms__item.rooms__item.room--kedr
        h3.room__title Люкс Кедровый
        p.room__subtitle Роскошные номера класса люкс в гостиничном комплексе.
      li.rooms__item.rooms__item.room--kedr-half
        h3.room__title Полулюкс Кедровый
        p.room__subtitle Роскошные номера класса люкс в гостиничном комплексе.
      li.rooms__item.rooms__item.room--lux
        h3.room__title.room__title--lux Люкс
        p.room__subtitle Роскошные номера класса люкс в гостиничном комплексе.
      li.rooms__item.rooms__item.room--standart
        h3.room.room__title Стандарт
        p.room__subtitle Роскошные номера класса люкс в гостиничном комплексе.
