mixin rooms()
  section.rooms
    h2.rooms__title Номера
    h3.rooms__subtitle Добро пожаловать в комфортабельное шале на берегу холодного горного озера. Вас ждет нетронутый уголок природы, чистейший воздух и незабываемый вид на вершины алтайских гор.
    ul.rooms__list
      li.rooms__item.rooms__item.room--family
        room.room__title Шале Семейный
        room.rooms__subtitle Роскошные номера класса люкс в гостиничном комплексе.
      li.rooms__item.rooms__item.room--kedr
        room.room__title Люкс Кедровый
        room.rooms__subtitle Роскошные номера класса люкс в гостиничном комплексе.
      li.rooms__item.rooms__item.room--kedr-half
        room.room__title Полулюкс Кедровый
        room.rooms__subtitle Роскошные номера класса люкс в гостиничном комплексе.
      li.rooms__item.rooms__item.room--family
        room.room__title Семейный
        room.rooms__subtitle Роскошные номера класса люкс в гостиничном комплексе.
      li.rooms__item.rooms__item.room--family
        room.room__title Семейный
        room.rooms__subtitle Роскошные номера класса люкс в гостиничном комплексе.
