extends templates/layout-home.pug

block meta
  title Шале Телецкое
  meta(name='Шале Телецкое', content='Добро пожаловать в комфортабельное шале на берегу холодного горного озера. Вас ждет нетронутый уголок природы, чистейший воздух и незабываемый вид на вершины.')

block header
  +header()

block page
  +rooms()
  +restaurant()
  +rests()
  +contacts()

block footer
  +footer()
