//- Подключение примесей

include blocks/main-nav/main-nav.pug
include blocks/header/header.pug
include blocks/rooms/rooms.pug
include blocks/room/room.pug
include blocks/restaurant/restaurant.pug
include blocks/rests/rests.pug
include blocks/footer/footer.pug
include blocks/contacts/contacts.pug
