$text-color:          #000;

$main-color:          #EE0000;

$font-family:         'Fira Sans', sans-serif;
$font-family--header: Kelson, sans-serif;
$font-size:           14px;
$line-height:         1.4;
$font-size--s:        13px;
$font-size--m:        20px;
$font-size--m1:       25px;
$font-size--m2:       30px;
$font-size--l:        35px;

$screen-xs:           320px;
$screen-md:           768px;
$screen-lg:           1000px;
$screen-xl:           1440px;
$screen-xxl:          1920px;


body {
  min-width: $screen-xs;
  max-width: $screen-xxl;
  margin-left: auto !important;
  margin-right: auto !important;
}

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
