$text-color:          #000;

$main-color:          #EE0000;

$font-family:         -apple-system, Sans_PT, sans-serif;
$font-family--header: -apple-system, Kelson, sans-serif;
$font-size:           14px;
$line-height:         1.4;
$font-size--s:        13px;
$font-size--m:        20px;
$font-size--m1:       25px;
$font-size--m2:       30px;
$font-size--l:        35px;

$screen-xs:           320px;
$screen-md:           800px;
$screen-lg:           1000px;
$screen-xl:           1440px;


body {
  max-width: $screen-xl;
}

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
