mixin header()
  header.header
    div.header__wrapper
      svg.header__logo(width="240", height="74")
        use(xlink:href="img/sprite-svg.svg#logo--header")
      h1.header__title.visually_hidden Шале Телецкое
      p.header__subtitle Добро пожаловать в место, где комфорт пятизвездочного отеля сочетается с нетронутой природой Алтая. Уютные дома, ледяное озеро, чистый воздух и вид на горы — все для настоящего отдыха.
