mixin header()
  header.header
    div.header__wrapper
      div.header__logo
      h1.header__title.visually_hidden Шале Телецкое
      h2.header__subtitle Добро пожаловать в комфортабельное шале на берегу горного озера. Здесь вас ждет нетронутый уголок природы, чистейший воздух и незабываемый вид на вершины.
